@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shekel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/icheck-bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte.css">

    <link href="~/Content/notiflix-2.7.0.min.css" rel="stylesheet" />

    <link href="~/Content/Main.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box col-md-5">
        <div class="login-logo">
            <h1><b>Shekel</b></h1>
        </div>
        <!-- /.login-logo -->
        <div class="card shadow col-md-7 mx-auto">
            <div class="card-body login-card-body ">
                <form id="LoginForm" method="POST" action="" onsubmit="event.preventDefault()">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Email">Email</label>
                            <input id="Email" type="email" class="form-control" name="Email" required placeholder="Enter your email">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-md-12">
                            <div class="d-block">
                                <label for="password" class="control-label">Password</label>
                            </div>
                            <input id="Password" type="Password" class="form-control" name="Password" required placeholder="Enter your password">
                            <div class="invalid-feedback"></div>
                            <div class="float-right mt-2">
                                <a href="@Url.Action("ForgotPassword", "Home")" class="text-small">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" onclick="Login()" class=" shadow btn btn-success btn-block col-md-4 mx-auto">
                            Sign In
                        </button>
                    </div>
                    <p class="mt-4">
                        Don't have an account?<a href="@Url.Action("Register", "Home")"> Sign up</a>
                    </p>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/notiflix-2.7.0.min.js"></script>
    <script src="~/Scripts/Main.js"></script>
</body>
</html>
